.nav-links {
  color: rgb(88, 155, 218);
  display: flex;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 35px;
  margin:auto;
  font-size: 18px;
}

.nav-links:hover {
  transition: all 0.2s ease-out;
  color:rgb(32, 93, 143);
}

.btn-spacing {
  margin-right: 20px;
}

.title {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 25px;
  color: rgb(32, 93, 143);
}

.table-title {
  font-size: 17px;
  color: rgb(32, 93, 143);
}

.table-body {
  font-size: 15px;
  color: rgb(32, 93, 143);
}
.table {
  text-align: center;
}

.nav-button {
  margin-left:30px;
  color: rgb(88, 155, 218);
  border-color: rgb(88, 155, 218);
  font-size: 17px;
}

.nav-button:hover {
  background-color: rgb(32, 93, 143);
  border-color:  rgb(32, 93, 143);
  color: white;
}

.buttons {
  color: rgb(88, 155, 218);
  border-color: rgb(88, 155, 218);
  font-size: 14px;
}

.video-button {
  color: rgb(88, 155, 218);
  border-color: rgb(88, 155, 218);
  font-size: 14px;
  margin:0 !important;
}

.buttons:hover {
  background-color: rgb(32, 93, 143);
  border-color:  rgb(32, 93, 143);
 
}

